/*General CSS*/
body{
	background: #faf9f9;
	padding: 0px;
	margin: 0px;
}

a:focus{
	color: #fff!important;
	text-decoration: none!important;
}

.container{
	max-width: 1130px;
}
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*		Header 		*/

header{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	z-index: 99;
	background: #4ECDC4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
}

header .logo{
	display: table-cell;
	margin: 15px 100px 0 0;
}
.logo img{
	max-width: 50px;
}

header .menu-btn{
	display: none;
	float: right;
	background: #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;

	color: #43b779;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin: 10px 10px 0 0;
}

header .menu-btn:hover{
	cursor: pointer;
}

header .menu-btn.active{
	background: #359663;
	color: #ffffff;
}

header nav{
	margin-top: 15px;
	display: table-cell;
}

header nav li{
	float: left;
	margin-left: 40px;
}

header nav li:first-child{
	margin: 0;
}

header nav li a{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

header nav li a:hover,
header nav li a:focus{
	text-decoration: none;
	color: #B7EFD1!important;
}

/*		Intro   	*/

.intro{
	display: block;
	position: relative;
	width: 100%;
	height: 720px;
	background: url('../img/intro.jpg') no-repeat fixed center center;	
	background-size: cover;
}

.intro .intro-caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
}

.intro .intro-caption h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.intro .intro-caption p{
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 35px 0;
}
a.app-store-btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
a.app-store-btn:hover,
a.app-store-btn:focus{
	border-color: #41c27d;
	color: #41c27d!important;
}


/*		About 	*/

.heading-about h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
	margin-bottom: 90px;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 30px 10px;
	display: inline-block;
  	position: relative;
}

.heading-about h1::after{
background: linear-gradient(to left, #00c3ff , #ffff1c);
bottom: -1px;
content: "";
height: 1px;
left: 50%;
margin-left: -25px;
position: absolute;
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
width: 50px;
}
.heading-about h1:hover:after { 
  left: 0;
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.about{
	padding: 100px 0;
}

.about .phone{
	max-width: 339px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.about .phone img{
	width: 100%;
	height: auto;
}
.about .about-app{
	margin-left: 50px;
}

.about .about-app h1{
	color: #525151;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 20px 0;
	word-break: break-word;
}

.about .about-app p{
	color: #767272;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 45px;
	line-height: 32px;
}

.about .about-app ul{
	margin-bottom: 30px;
}

.about .about-app ul li{
	display: block;
	position: relative;
	color: #6c6c6c;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.about .about-app ul li span{
	display: inline-block;
}
.fa-play{
	margin-right: 5px; 
}
.fa-play.play:hover,
.fa-play.play:focus{
	color: #41c27d!important;
}
a.app-store-btn,
.fa-play{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}



/*		Features 		*/

.heading-features h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif !important;
	font-size: 34px !important;
	font-weight: bold;
	word-break: break-word;
	margin-bottom: 90px !important;
	margin-top: -90px !important;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 30px 10px;
	display: inline-block;
  	position: relative;
}

.heading-features h1::after{
background:linear-gradient(to left, #00c3ff , #ffff1c);
bottom: -1px;
content: "";
height: 1px;
left: 50%;
margin-left: -25px;
position: absolute;
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
width: 50px;
}
.heading-features h1:hover:after { 
  left: 0;
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.features{
	width: 100%;
	padding: 100px 0 20px 0;
	background: #4ECDC4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.features h1{
	color: #fff;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 50px 0 0 0;
	word-break: break-word;
}

.features p{
	color: #e0f7eb;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 30px 0 0 0;
	line-height: 28px;
}

.features .features-detail{
	margin-bottom: 80px;
}

.features .features-detail:nth-child(3n+1){
	clear: both;
}
.feature-icon{
	color: #fff;
}


/*		Team  	*/
.section-text{
	color: #bbb;
font-family: "open_regular", Helvetica, Arial, sans-serif;
font-size: 20px;
margin-bottom: 50px;
}
.team{
	width: 100%;
	padding: 100px 0 20px 0;
	margin-bottom: 30px;
}
#team {
  text-align: center;
}
#team h4 {
	font-size: 25px;
  	font-weight: bold;
}
#team h3 {
  color: #00c6d7;
  font-size: 14px;
  font-weight: bold;
}
#team .col-md-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#team .team-wrapper {
  overflow: hidden;
  position: relative;
}
#team .team-des {
  background-color: rgba(00,00,00,0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  width: 100%;
  height: 100%;
  max-width: 300px;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
          border-radius: 50%;
}
#team .team-des:hover {
 opacity: 1;
}
#team img {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 50%;
}

#team .team-social-icon li a {
  color: #fff;
}

#team .team-social-icon li a:hover {
  color: #00c6d7;
}
.team-social-icon {
  padding: 0;
  margin: 0;
}
.team-social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.team-social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.team-social-icon li a:hover {
  color: #00c6d7;
}
.team hr {
    width: 180px;
    border-color: #CCC;
}




/*		Benefits 		*/
#benefits .section-text{
	color: #fff;
}
.heading-benefits h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif !important;
	font-size: 34px !important;
	font-weight: bold;
	word-break: break-word;
	margin-bottom: 90px !important;
	margin-top: -90px !important;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 30px 10px;
	display: inline-block;
  	position: relative;
}

.heading-benefits h1::after{
background: linear-gradient(to left, #00c3ff , #ffff1c);
bottom: -1px;
content: "";
height: 1px;
left: 50%;
margin-left: -25px;
position: absolute;
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
width: 50px;
}
.heading-benefits h1:hover:after { 
  left: 0;
  margin-left: 0px;
  width: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.benefits{
	width: 100%;
	padding: 100px 0 20px 0;
	background: #4ECDC4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.menu-tabs {
	list-style: none;
	overflow: hidden;
	margin-bottom: 0px;
	margin-left: 389px;
}
.menu-tabs li {
	float: left;
	margin-right: 2px;
	font-size: 1.3em;
	text-decoration: none;
}
.menu-tabs a {
	width: 102.55px;
	height: 50px;
	display:inline-block;
	background:#bbb;
	padding:10px 20px;
	color: #fff;
	font-size:12px;
	line-height:22px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;color:#333;
	opacity:.5;cursor:pointer;
	margin-right:2px;
	-webkit-transition:opacity .1s cubic-bezier(0.694,.0482,.335,1);
	-moz-transition:opacity .1s cubic-bezier(0.694,.0482,.335,1);
	-ms-transition:opacity .1s cubic-bezier(0.694,.0482,.335,1);
	-o-transition:opacity .1s cubic-bezier(0.694,.0482,.335,1);
	transition:opacity .1s cubic-bezier(0.694,.0482,.335,1);
}
.menu-tabs a:hover {
	opacity:.9;
	text-decoration: none;
}
.menu-tabs a.active {
	opacity:.9;
	text-decoration: none;
}
.menu-tabs a.active i {opacity:.9;}
.menu-tabs a i {
	opacity:.9;
	text-decoration: none;
}
.menu {
	max-width: 1130px;
	position: relative;
}
.menu-wrapper {
	width: 100%; 
	position: relative;
	z-index: 400;
	background: transparent;
	min-height: 300px;
	-webkit-border-radius: 0 4px 4px 4px;
	-moz-border-radius: 0 4px 4px 4px;
	border-radius: 0 4px 4px 4px;
}
.menu-wrapper .menu-item {
	line-height: 1.3;
	color: #76716f;
	display: none;
}
.menu-wrapper .menu-item.item-active {
	display: block;
}
.menu-wrapper .menu-item h3 {
	font-size: 1.8em;
	color: #333b48;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 5px;
	margin-bottom: 12px;
}
.menu-wrapper .menu-item p {
	font-size: 1.3em;
	line-height: 1.6em;
	color: #76716f;
}

/*		Contact  	*/
.contact{
	width: 100%;
	padding: 100px 0 20px 0;
	margin-bottom: 30px;
}
#contact .fa{
	color: #4ECDC4;
}

/*		Footer 		*/
footer{
	padding: 15px 0;
}

footer .copyright{
	margin-top: 5px;
	margin-left: 40px;
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

footer .copyright a{
	color: #565555;
}
footer .credit{
	margin-top: 5px;
	margin-right: 40px;
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}
footer .credit a{
	color: #565555;
}
.footer {
background-image: -webkit-linear-gradient(to left, #4ECDC4 , #556270);
background-image: -moz-linear-gradient(to left, #4ECDC4 , #556270);
padding: 1px;
}




/*

		Responsive CSS 		

*/



@media (max-width: 360px) {
	/*		Team   	*/
	#team img{
		max-width: 250px;
	}

	#team .team-des{
		max-width: 250px;
	}

}


@media (max-width: 767px) {


	/*		Header 		*/
	header .logo{
		margin-right: 0;
	}

	header .menu-btn{
		display: block;
	}

	header nav{
		width: 100%;
		float: none;
		background: #47ad76;
		position: absolute;
		margin-top: 130px;
		left: 0;
		display: none;
	}

	header nav.show{
		display: block;
	}


	header nav li{
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	header nav li a{
		display: block;
		width: 100%;	
		padding: 20px 0;
		border-bottom: 1px solid #389965;
	}

	header nav li:first-child a{
		border-top: 1px solid #389965;
	}


	/*		Intro 		*/
	.intro .intro-caption{
		margin-left: 0;
	}

	.app_store_btn{
		display: block;
		width: 90%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}


	/*		About   	*/
	.about .about-app {
		text-align: center;
		margin: 0px;
		margin-left: 0px;
	}

	.about .about-app ul li{
		text-indent: 0;
		background: transparent!important;
		margin-bottom: 20px;
	}

	.about .about-app ul li:last-child{
		margin: 0;
	}



	/*		Contact   	*/
		.fa{
			margin-top: 20px;
		}


}

@media (min-width: 320px) {

	.menu-tabs{
		margin-left: 0px;
	}
	footer .copyright{
		margin-left: 40px;
	}
	footer .credit{
		margin-right: 100px;
	}
}
@media (max-width: 360px) {

	.menu-tabs{
		margin-left: 0px;
	}
	footer .copyright{
		margin-left: 60px;
	}
	footer .credit{
		margin-right: 120px;
	}

}
@media (min-width: 768px) and (max-width: 980px){

	.menu-tabs{
		margin-left: 197px;
	}
	
	/*		Contact   	*/
		.fa{
			margin-top: 20px;
		}

	footer .copyright{
		margin-left: 40px;
	}
	footer .credit{
		margin-right: 40px;
	}

}

